<h1>Welcome to {{hotelName}}</h1>

<p>rooms works!</p>

Number of rooms: <div [ngStyle]="{'color':rooms.availableRooms?'green':'red'}"
[innerText]="numberOfRooms">
</div>
<!-- document.getElementById('numberOfRooms').innerText = numberOfRooms -->

<div [hidden]="hideRooms">
    Number of rooms: <div [innerText]="numberOfRooms"></div>
</div>
<button (click)="toggle()">Toggle</button>

<div *ngIf="rooms.availableRooms>0"> 
    <hinv-rooms-list [rooms]="roomList"
    (selectedRoom)="selectRoomParent($event)">
    </hinv-rooms-list>  
</div>